.containtiniciarcrearcuenta{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background: #091e31; */  
  width: 100%;
  height: 550px;
}

#crearcuenta{
  text-align: center;
  color: white;
}

.dimension12{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(42, 58, 73, 0.383);
  width: 75%;
  height: 90%;
  border-radius: 50px;
}

.placeform{
  width: 50%;
  height: 40px;
  margin: 0 0 20px 0;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  text-align: center;
}

#iniciars{
  display: flex;
  justify-content: center;
}

#crearenviar{
  background: #091e31;
  color: white;
  width: 50%;
  height: 40px;
  margin: 0 0 20px 0;
  font-size: 15px;
  border: none;
  border-radius: 15px;
}


#logocrear{
  margin: auto 0 20px 125px;
}

#crearenviar{
  padding: 10px;
  width: 100%;
}



