.containtarifas{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: white;
}

.centrar{
  color: white;
  text-align: center;
  margin: 10px;
}

.temporada{
  background: #2c3a47;
  width: 90%;
  height: 100px;
  border-radius: 30px;
}

#colore, #nota{
  color: #d8ae5e;
}
/* .nota{
  color: #d8ae5e;
} */

.contienecar{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}

.cardprecioss{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  background: #2c3a47;
  width: 60%;
  height: 300px;
  border-radius: 20px;
  margin: 20px;

}

.cardprecios{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  background: #2c3a47;
  width: 30%;
  height: 300px;
  border-radius: 20px;
  margin: 20px;
}

.sub-cardprecioss{
  margin: 13px 0 0 10px;
}




.imgtarifas{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin: 10px 10px 0 10px;
}

.precioss{
  margin-left: 10px;
  color: white;
}

/* .btnconf{
  background: #091e31;
  color: white;
  border-style: none;
  border-radius: 15px;
  padding: 10px;
  margin-left: 80px;
}  */
