.general-containt{
  background: #2c3a47;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  margin: 20px 20px 80px 20px;
  border-radius: 20px;
}

.spane2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}
#alimento{
  margin-top: 80px;
  text-align: center;
}

.contain-micuenta2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: auto;
  border-radius: 20px;
}

.alimentacion{
  display: block;
  flex-direction: row;
  justify-content: center;
  background: #091e31;
  width: auto;
  height: au;
  margin: 10px;
}


#myimg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.mis-datos{
  margin-left: 20px;
  float: left;
}

.mis-acciones{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:end;
  margin-right: 30px;
}

.btnmycuenta{
  background: #091e31;
  margin: 10px;
  padding: 5px;
  border: solid;
  border-radius: 15px;
}

.alimentacion{
  width: auto;
  height: auto;
}

.pothoalime{
  width: 100px;
  height: 100px;
  margin: 10px;
}