.containtIniciarSeccionStandard{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  background: #091e31;
  width: 100%;
  height: 550px;
}

.dimension1{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  background: rgba(42, 58, 73, 0.383);
  width: 50%;
  height: 85%;
  border-radius: 50px;
}

.placform1{
  width: 90%;
  height: 40px;
  margin: 0 0 20px 0;
  font-size: large;
  border: none;
  border-radius: 15px;
  text-align: center;
}

.formicons{
  padding: 0;
  margin: 0 5px 0 0;
  color: white;
}


/* .containtform img{
  width: 180px;
  height: 100px;
  border-radius: 20px;
} */

.containtform label{
  margin: 10px 10px 10px 0;
  color: white;
}

#iniciarlog{
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25px;
}

#logoiniciar1{
  margin: auto 0 20px 80px;
}
/* .iconiniciar{
  width: 100px;
  height: 100px;
  padding: 50px;
} */