#titulo-creacion-exitosa{
  text-align: center;
  color: white;
}

.cont-creacion-exitosa{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: brown;
}

.cont-creacion-dimension{
  width: 50%;
  height: 400px;
  background-color: blueviolet;
  border-radius: 20px;
}